<div class="row">

    {% if data.notifications.Users is defined %}

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ data.notifications.Users | length }}</div>
                        <div>New Users!</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('manageUsers') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    {% endif %}

    {% if data.notifications.Devices is defined %}

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-folder fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ data.notifications.Devices | length }} </div>
                        <div>New Devices!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}

    {% if data.notifications.Requests is defined %}

    {#<div class="col-lg-3 col-md-6">#}
        {#<div class="panel panel-red">#}
            {#<div class="panel-heading">#}
                {#<div class="row">#}
                    {#<div class="col-xs-3">#}
                        {#<i class="fa fa-support fa-5x"></i>#}
                    {#</div>#}
                    {#<div class="col-xs-9 text-right">#}
                        {#<div class="huge">{{ data.notifications.Requests | length  }} </div>#}
                        {#<div>New Requests!</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<a href="{{ path('manageLogs') }}">#}
                {#<div class="panel-footer">#}
                    {#<span class="pull-left">View Details</span>#}
                    {#<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
                    {#<div class="clearfix"></div>#}
                {#</div>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}

    {% endif %}

    {#
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Dialogues</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('manageDialogues') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    #}

</div>

