{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}

{% block content %}
    <div>
       <p>
           {% if data.html is defined %}

            {{ data.html | raw }}

           {% endif %}
       </p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="JavaScript">
        $(document).ready(function ($) {

        });

    </script>


{% endblock %}
