{% extends 'AppBundle::base.html.twig' %}
{% block title %}Vicnisoft | {{ data.page_title }}{% endblock %}
{% set title = data.page_title %}
{% set fluid_layout = 0 %}
{% set debug_dump = true %}

{% block content %}

    {% for tool in data.tools %}
        <div class="col-lg-3 col-md-6">
            <div class="panel {% if tool.panel_class is defined %} {{ tool.panel_class }} {% else %} panel-primary {% endif %}">

                <a href="{{ path(tool.uri) }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa {% if tool.class is defined %} {{ tool.class }} {% else %}  fa-comments {% endif %} fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>{{ tool.name }}</div>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
        </div>

    {% endfor %}

{% endblock %}

