<nav class="navbar navbar-vns navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home') }}">VNS</a>
    </div>
    <!-- /.navbar-header -->

    {{ include('AppBundle:layout:user-menu.html.twig') }}

    <!-- /.navbar-User Menu -->

    {% if app.user %}

        <ul class="nav navbar-nav navbar-collapse">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus fa-fw"></i>  Create <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('createUser') }}"><i class="fa fa-user fa-fw"></i> User </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('createProject') }}"><i class="fa fa-folder fa-fw"></i> Project</a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('createCategory') }}"><i class="fa fa-book fa-fw"></i>Category</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('createDialogue') }}"><i class="fa fa-book fa-fw"></i>Dialogue</a>
                    </li>
                    {#<li class="divider"></li>#}
                    {#<li>#}
                        {#<a href="{{ path('createQA') }}"><i class="fa fa-book fa-fw"></i>Q&A</a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}
                    {#<li>#}
                        {#<a href="{{ path('createFbPage') }}"><i class="fa fa-book fa-fw"></i>Fb Page</a>#}
                    </li>

                </ul>
                <!-- /.dropdown -->
            </li>
            <!-- /.dropdown  User-->

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-cubes fa-fw"></i>  Manage <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('manageUsers') }}"><i class="fa fa-user fa-fw"></i> User </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('manageProjects') }}"><i class="fa fa-folder fa-fw"></i> Project</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('manageDevices') }}"><i class="fa fa-folder fa-fw"></i> Devices</a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('manageCategories') }}"><i class="fa fa-book fa-fw"></i>Categories</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('manageDialogues') }}"><i class="fa fa-book fa-fw"></i>Dialogues</a>
                    </li>
                    {#<li class="divider"></li>#}
                    {#<li>#}
                        {#<a href="{{ path('manageQAs') }}"><i class="fa fa-book fa-fw"></i>Q&A</a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}
                    {#<li>#}
                        {#<a href="{{ path('manageFbPages') }}"><i class="fa fa-book fa-fw"></i>Fb Pages</a>#}
                    {#</li>#}
                </ul>
                <!-- /.dropdown -->
            </li>
            <!-- /.dropdown  Manage-->

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-briefcase fa-fw"></i>  Analytics <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {#<li><a href="{{ path('manageLogs') }}"><i class="fa fa-history fa-fw"></i> Logs </a>#}
                    {#</li>#}
                    {#<li class="divider"></li>#}

                </ul>
                <!-- /.dropdown -->
            </li>
            <!-- /.dropdown  Tools-->

            <!-- /.dropdown ParserHTML -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-briefcase fa-fw"></i>  Import Data <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-import">
                    <li><a href="{{ path('manageYoutubeVideo') }}"><i class="fa fa-history fa-fw"></i> Youtube Video</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('manageEslFastImport') }}"><i class="fa fa-history fa-fw"></i> EslFast Dialogue</a>
                    </li>
                    <li class="divider"></li>

                </ul>
                <!-- /.dropdown -->
            </li>
            <!-- /.dropdown  Tools-->
        </ul>

    {% endif %}
    <!-- /.navbar-Menu -->
</nav>