<div id="bookDialogueModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
            <div class="modal-header">
                <h4 class="modal-title">{% if data.modaltitle is defined %}{{ data.modaltitle }}{% endif %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="show_error" class="alert alert-danger alert-dismissible {% if (form_errors(form)) is empty %}hide{% endif %}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>{% trans %}Error!{% endtrans %}</strong> {{ form_errors(form) }}
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            {{ form_row(form.name) }}
                            {{ form_row(form.iconUrl) }}
                            {{ form_row(form.mediaUrl) }}
                            {#{{ form_row(form.type) }}#}
                            {{ form_row(form.category) }}
                            {#<div class="hidden"#}
                            {#{{ form_row(form.content) }}#}
                            {#{{ form_row(form.approved) }}#}
                            {#</div>#}
                            <input type="hidden" id="youtube_video_id" name="youtube_video_id" value="-1">
                            {# Token CSRF #}
                            {{ form_widget(form._token) }}
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form_buttons pull-right">
                    {{ form_widget(form.submit, {"attr":{"class":"btn-primary" }}) }}
                    {{ form_widget(form.cancel, {"attr":{"data-dismiss":"modal" }}) }}

                </div>
                <div class="clear"></div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>