<div>

    {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
    <div class="{% if (data.error_messages is not defined and form_errors(form) is empty) %}hide{% endif %} alert alert-danger" id="edit-sku-errors">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans %}Error!{% endtrans %}</strong>
                        <span class="message">
                            {{ data.error_messages|default('') }}
                            {{ form_errors(form) }}
                        </span>
    </div>
    <div class="hide alert alert-success" id="edit-sku-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans %}Success!{% endtrans %}</strong>
        <span class="message"></span>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.searchText) }}
                {{ form_row(form.channelId) }}
                {{ form_row(form.playlistId) }}

            </div>
        </div>
    </fieldset>

    {{ include('AppBundle:inc:form-save-cancel-footer.html.twig', { 'form': form, 'data': data }) }}

    {{ form_end(form) }}

</div>