<div id="previewModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="bg-danger">
                    {% trans %}Video Preview{% endtrans %}
                </p>
                <p class="bg-primary" id="videoTitle">
                </p>
                <p class="bg-info" id="channelTitle">
                </p>
            </div>
            <div class="modal-body">
                <div>
                    <iframe width="100%" height="200" src=""></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

