{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click here to show/hide filters</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click here to show/hide columns</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <form id="pageform" action="{{ path(data.page_path) }}" method="post">
            {{ include('AppBundle:manage/inc:active-filters.html.twig', { 'data': data }) }}
            <div class="col-sm-12">
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:filters.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:columns.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
        </form>

        <div class="panel-body">
            <div class="dataTable_wrapper">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        {% set cpt = 0 %}
                        {% for key, column in data.columns %}
                            {% if column.display and (column.line is not defined or column.line == 0) %}
                                <th {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                    <span>
                                        {{column.name}}
                                    </span>
                                    {% if cpt == 0 %}
                                        <div role="button" title="Show All User Logs" onClick="showAllUserLogs(this);" class="pull-right show-all-user-device">
                                            <span class="text-primary fa {{ data.openpanel }} fa-2x"></span>
                                        </div>
                                        {% set cpt = 1 %}
                                    {% endif %}
                                </th>
                            {% endif %}
                        {% endfor %}

                        {#<th>#}
                        {#<span>Actions</span>#}
                        {#</th>#}
                    </tr>
                    </thead>
                    <tbody>

                    {% for logId, row in data.rows %}
                        {% for nb, line in row %}
                            {% if nb == 0 %}
                                {% set cpt = 0 %}
                                <tr>
                                    {% for key, column in data.columns %}
                                        {% if column.display and (column.line is not defined or column.line == 0) %}
                                            <td {% if column.colors is defined %} class="bg-{{ column.colors}}{{ line[key] }}" {% endif %} {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                                {% if key == 'role' %}
                                                    {{ line[key] | trans }}
                                                {% elseif column.text is defined %}
                                                    {{ column.text[line[key]] }}
                                                {% else %}
                                                    {{ line[key] }}
                                                {% endif %}
                                                {% if cpt == 0 %}
                                                    <div role="button" data-index="{{ logId }}"  title="Show User Logs" onClick="showUserLog(this);" class="pull-right show-user-device">
                                                        <span class="text-primary fa {{ data.openpanel }} fa-lg"></span>
                                                    </div>
                                                    {% set cpt=1 %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr id="user_device_line_{{ logId }}" {% if data.openpanel == 'fa-caret-right' %}class="hidden"{% endif %} >
                                <td colspan="{{ data.totalcolumns}}" style="padding: 0;">
                                <table id="user_device_table_{{ logId }}" class="user-device-list user-device-list-striped table table-bordered table-condensed">
                                <thead>
                                <th style="width: 25px;"></th>
                                {% for key, column in data.columns %}
                                    {% if column.display and column.line is defined and column.line != 0%}
                                        <th {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                            <span>{{ column.name }}</span>
                                        </th>
                                    {% endif %}
                                {% endfor %}

                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    {% for key, column in data.columns %}
                                        {% if column.display and column.line is defined and column.line != 0 %}
                                            <td {% if column.colors is defined %} class="bg-{{ column.colors}}{{ line[key] }}" {% endif %} {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                                {% if column.text is defined %}
                                                    {{ column.text[line[key]] }}
                                                {% else %}
                                                    {{ line[key] }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}

                                </tr>
                            {% else %}
                                <tr>
                                    <td></td>
                                    {% for key, column in data.columns %}
                                        {% if column.display and column.line is defined and column.line != 0 %}
                                            <td {% if column.colors is defined %} class="bg-{{ column.colors}}{{ line[key] }}" {% endif %} {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                                {% if column.text is defined %}
                                                    {{ column.text[line[key]] }}
                                                {% else %}
                                                    {{ line[key] }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}

                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        </table>
                        </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script language="JavaScript">

        function showUserLog(element) {
            if($(element).find('.fa-caret-right').length){
                $(element).find('.fa-caret-right').removeClass('fa-caret-right').addClass('fa-caret-down');
                $('#user_device_line_'+$(element).data('index')).removeClass("hidden");
            } else {
                $(element).find('.fa-caret-down').removeClass('fa-caret-down').addClass('fa-caret-right');
                $('#user_device_line_'+$(element).data('index')).addClass("hidden");
            }
        }

        function showAllUserLogs() {
            var show = false;
            if ($(".show-all-user-device").find('.fa-caret-right').length){
                show = true;
                $(".show-all-user-device").find('.fa-caret-right').removeClass('fa-caret-right').addClass('fa-caret-down');
                $("#openpanel").val('fa-caret-down');
            } else {
                show = false;
                $(".show-all-user-device").find('.fa-caret-down').removeClass('fa-caret-down').addClass('fa-caret-right');
                $("#openpanel").val('fa-caret-right');
            }
            $(".show-user-device").each(function(){
                if(show){
                    $(this).find('.fa-caret-right').removeClass('fa-caret-right').addClass('fa-caret-down');
                    $('#user_device_line_'+$(this).data('index')).removeClass("hidden");
                } else {
                    $(this).find('.fa-caret-down').removeClass('fa-caret-down').addClass('fa-caret-right');
                    $('#user_device_line_'+$(this).data('index')).addClass("hidden");
                }
            });
        }
    </script>

    <script src="{{ asset('bundles/app/js/app.js')}}"></script>


{% endblock %}