{% extends 'AppBundle::base.html.twig' %}
{% set has_table = true %}
{% set debug_dump = true %}
{% set disable_page_header = true %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="form-group">
                    <a class="form-control btn btn-primary" href="{{ path(data.create_path) }}">Create New</a>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click here to show/hide filters</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Click here to show/hide columns</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <form id="pageform" action="{{ path(data.page_path) }}" method="post">
            <input type="hidden" id="active" name="active" value="{{ data.active }}"/>
            <input type="hidden" id="sortfield" name="field" value="{{ data.pagination.field }}"/>
            <input type="hidden" id="sortorder" name="order" value=""/>

            {{ include('AppBundle:manage/inc:active-filters.html.twig', { 'data': data }) }}
            <div class="col-sm-12">
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:filters.html.twig', { 'data': data }) }}
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="form-group">
                                    <button class="form-control btn {% if not data.active %}btn-info{% else %}btn-default{% endif %}" name="activebtn"  type="button" value="{{ data.active }}" onClick="javascript:setActive(this);">
                                        {% if data.active %}Deleted Categories {% else %} Active Categories{% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('AppBundle:manage/inc:columns.html.twig', { 'data': data }) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div>
                <div class="form-inline">
                    {{ include('AppBundle:manage/inc:pagination.html.twig', { 'data': data.pagination }) }}
                </div>
            </div>        </form>
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-bordered table-striped table-hover" cellspacing="5" cellpadding="5">
                    <thead>
                    <tr>
                        {% for key, column in data.columns %}
                            {% if column.display %}
                                <th {% if column.class is defined %}class="{{ column.class }}"{% endif %}>
                                    <a data-field="{{ key }}"
                                       data-order="{% if (column.orderfield is defined and data.pagination.field == column.orderfield) or data.pagination.field == key %}{{ data.pagination.order }}{% else %}{{ column.order }}{% endif %}"
                                       onclick="javascript:setOrder(this);" href="#"><span>{{ column.name }}</span>
                                        {% if data.pagination.field == key %}{% if data.pagination.order == 'ASC' %}<i
                                                class="fa fa-arrow-up"></i>{% else %}<i
                                                class="fa fa-arrow-down"></i>{% endif %}{% endif %}</a>
                                </th>
                            {% endif %}
                        {% endfor %}
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for key, column in data.columns %}
                                {% if column.display %}
                                    <td {% if column.colors is defined %} style ="background-color: {% if column.colors[row[key]] is defined %} {{column.colors[row[key]]}} {% else %} {{column.colors.none}} {% endif %} }" {% endif %}>
                                        {{ row[key]}}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a {% if data.active %}title="Recycle User"
                                        {% else %} title="Restore User"{% endif %}
                                   data-recycleid="{{ row.id }}"
                                   data-recyclename="{% if data.columns[data.recyclename].text is defined %}
                                   {{ data.columns[data.recyclename].text[row[data.recyclename]] }}
                                   {% else %}
                                   {{ row[data.recyclename]}}
                                   {% endif %}"
                                   data-recycleinfo="Group :
                                   {% if data.columns[data.recycleinfo].text is defined %}
                                   {{ data.columns[data.recycleinfo].text[row[data.recycleinfo]] }}
                                   {% else %}
                                   {{ row[data.recycleinfo]}}
                                   {% endif %}"
                                   onclick="recycle(this);" href="#">
                                    {% if data.active %}
                                        <i class="fa fa-trash fa-2x"></i>
                                    {% else %}
                                        <i class="fa fa-refresh fa-2x"></i>
                                    {% endif %}
                                </a>
                                <a title="Edit User" href="{{ path('editUser', {'id': row.id }) }}">
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ include('AppBundle:manage/inc:recycle.html.twig',{'data' :data  })}}
                <div class="clearfix"></div>
                <div>
                    <div class="form-inline">
                        {{ include('AppBundle:manage/inc:pagination.html.twig', { 'data': data.pagination }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include("AppBundle:manage/inc:recycle-js.html.twig", {'data':data}) }}

{% endblock %}