{% extends 'AppBundle::base.html.twig' %}
{% set title = "Oops! An Error Occurred" %}
{% set subtitle = status_code ~ " " ~ status_text %}
{% set fluid_layout = 0 %}

{% block content %}
		<div class="alert alert-warning">
			<p><strong><i class="fa fa-warning"></i> Something is broken.</strong> Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
		</div>

		<a href="{{ path('home') }}" class="btn btn-default"><i class="fa fa-home"></i> Go back to home</a>
	{# todo: add a button to report an issue here! Probably possible to include error message and some data from here (server, version, etc.) #}
{% endblock %}
