{% extends 'Pivot88QualityBundle::base.html.twig' %}
{% set title = "Oops! An Error Occurred"|trans %}
{% set subtitle = status_code ~ " " ~ status_text %}
{% set fluid_layout = 0 %}

{% block content %}
	<div class="alert alert-warning">
		<p><strong><i class="fa fa-warning"></i> {% trans %}You are not authorized to access this page{% endtrans %}</p>
	</div>

	<a href="{{ path('home') }}" class="btn btn-default"><i class="fa fa-home"></i> {% trans %}Go back to home{% endtrans %}</a>
	{# todo: add a button to report an issue here! Probably possible to include error message and some data from here (server, version, etc.) #}
{% endblock %}
