{%  extends 'AppBundle::base.html.twig' %}

{% set fluid_layout = 0 %}
{% set disable_page_header = 1 %}

{% block content %}

    {# http://bootsnipp.com/snippets/featured/mix-amp-match-login #}

    <div class="row" style="margin-top:20px">

        <div class="col-md-4 col-md-offset-4">

            {% if error %}
                <div class="alert alert-danger error">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <strong>{% trans %}Error{% endtrans %}</strong>: {{ error.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="{% trans %}Close{% endtrans %}" />
                </div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post" role="form">
                <fieldset>
                    <h2>{% trans %}Please Sign In{% endtrans %}</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="text" name="_username" id="username" class="form-control input-lg" placeholder="{% trans %}Username{% endtrans %}" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" id="password" class="form-control input-lg" placeholder="{% trans %}Password{% endtrans %}">
                    </div>
				<span class="button-checkbox">
					<button type="button" class="btn btn-info active" data-color="info">
                        <i class="state-icon glyphicon glyphicon-check"></i>
                        {% trans %}Remember Me{% endtrans %}
                    </button>
                    <input type="checkbox" name="_remember_me" id="remember_me" checked="checked" class="hidden">
				</span>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans %}Sign In{% endtrans %}">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('register') }}" class="btn btn-lg btn-primary btn-block">{% trans %}Register{% endtrans %}</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>


{% endblock %}
