{% extends 'AppBundle::base.html.twig' %}
{% set fluid_layout = 0 %}
{% set disable_page_header = 1 %}
{% block content %}

    <div>
        {{ form_start(form, {attr: {novalidate: 'novalidate' }}) }}
        <div class="{% if (data.error_messages is not defined and form_errors(form) is empty) %}hide{% endif %} alert alert-danger" id="edit-sku-errors">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Error!{% endtrans %}</strong>
			<span class="message">
				{{ data.error_messages|default('') }}
                {{ form_errors(form) }}
			</span>
        </div>
        <div class="hide alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans %}Success!{% endtrans %}</strong>
            <span class="message"></span>
        </div>

        <fieldset>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>{% trans %}Sign up{% endtrans %}</h3>

                    {{ form_row(form.username) }}
                    {{ form_row(form.plainpassword) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.login) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock %}