{% block content %}
    <h1 class="title">{{ 'project.list'|trans({}, 'RestApiBundle') }}</h1>

    <ul id="page-list">
        {% for project in projects %}
            <li>
                <a href="{{ path('api_1_get_project', {'id': project.id}) }}">{{ project.name }}</a>
                {#[<a href="{{ path('api_1_edit_pages', {'id': page.id}) }}">{{ 'page.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_pages', {'id': page.id}) }}">{{ 'page.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% endfor %}
    </ul>
    <p>
        {#<a href="{{ path('api_1_new_project') }}">{{ 'project.name'|trans({}, 'RestApiBundle') }}</a>#}
    </p>
{% endblock %}