{% block content %}
    <h1>Create Project Form</h1>
    {%  if (form is not null) %}
        <form action="{{ url('api_1_post_project') }}" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="submit">
        </form>
    {% endif %}
{% endblock %}