{% block content %}
    <button type="submit" name="filterbtn" class="hidden"></button>
    <input type="hidden" id="activefilter" name="activefilter" value=""/>
    <input type="hidden" id="activefiltervalue" name="activefiltervalue" value=""/>
    <div class="form-group">
        {% for filter in data.activefilters %}
            {% if filter.type == 'select' %}
                <div type="button" class="btn btn-default btn-xs" data-dismiss="alert">
                    {{ filter.label }}:
                    {% for key, option in filter.selectValues %}
                        {% if option.value in filter.value %}
                            <span class="bg-info">{% if filter.replacementText %}{{ filter.replacementText[option.value] }}{% else %}{{ option.text }}{% endif %}</span>
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" data-name="{{ filter.name }}" data-value="{{ option.value }}" onClick="javascript:removeFilter(this);"></span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <button type="button" class="btn btn-default btn-xs" data-name="{{ filter.name }}" data-dismiss="alert" onClick="javascript:removeFilter(this);">
                    {% if filter.type == 'choice' %}
                        {{ filter.label }}: <span class="bg-info">{{ filter.selectedName }}</span>
                    {% else %}
                        {{ filter.label }}: <span class="bg-info">{{ filter.value }}</span>
                    {% endif %}
                    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></button>
            {% endif %}

        {% endfor %}
        {% if data.activefilters %}
            <button type="submit" class="btn btn-primary btn-xs" name="resetfilterbtn" value="1"><span class="">Reset Filters</span></button>
        {% endif %}
    </div>
{% endblock %}
