{% block content %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        These preferences will be kept in your cookies so you don't have to set it every time.
    </div>
    <div class="form-horizontal">
        {% if data.columnsWithSections is defined and data.columnsWithSections %}
            {% for sectionname, section in data.columnsWithSections %}
                <fieldset class="filter-border">
                    <legend class="filter-border">{{ sectionname }}</legend>
                    {% for row in section|batch(3) %}
                        <div class="row">
                            {% for key, column in row %}
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="columns[]" value="{{ key }}" {% if column.display %}checked="checked"{% endif %}>
                                            {{ column.name }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </fieldset>
            {% endfor %}
        {% else %}
            {% for row in data.columns|batch(3) %}
                <div class="row">
                    {% for key, column in row %}
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="columns[]" value="{{ key }}" {% if column.display %}checked="checked"{% endif %}>
                                    {{ column.name }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
        </div>
    </div>
{% endblock %}
