{% block content %}
    <div class="form-horizontal">

        {% if data.useFilterSections is defined and data.useFilterSections %}
            {% for sectionname, section in data.filters %}
                <fieldset class="filter-border">
                    <legend class="filter-border">{{ sectionname }}</legend>
                    {% for row in section|batch(3) %}
                        {{ include('AppBundle:manage/inc:display-filters.html.twig', { 'data': data, 'row': row }) }}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        {% else %}
            {% for row in data.filters|batch(3) %}
                {{ include('AppBundle:manage/inc:display-filters.html.twig', { 'data': data, 'row': row }) }}
            {% endfor %}
        {% endif %}
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" name="filterbtn" class="btn btn-primary btn-sm"> Filter </button>
                <button type="submit" name="resetfilterbtn" value="1" class="btn btn-default btn-sm"> Reset </button>
            </div>
        </div>

    </div>
{% endblock %}
