{% block content %}
    <input type="hidden" name="page" value="{{ data.page }}" />
    <div class="form-group">
        <ul class="pagination pagination-sm" style="margin: 5px 2px">
            <li><a data-page="{{data.first}}" {% if data.page > 0 %}onClick="javascript:setPage(this);"{% endif %} href="#">&laquo;</a></li>
            <li><a data-page="{{data.prev}}" {% if data.page > 0 %}onClick="javascript:setPage(this);"{% endif %} href="#">&larr;</a></li>
            {% for i in data.start..data.end %}
                {% if i == data.page %}
                    <li class="active"><a href="#">{{ i+1 }}</a></li>
                {% else %}
                    <li><a data-page="{{ i }}" href="#" onClick="javascript:setPage(this);">{{ i+1 }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a data-page="{{data.next}}" {% if data.page < data.last %}onClick="javascript:setPage(this);"{% endif %} href="#">&rarr;</a></li>
            <li><a data-page="{{data.last}}" {% if data.page < data.last %}onClick="javascript:setPage(this);"{% endif %} href="#">&raquo;</a></li>
        </ul>
    </div>
    <div class="form-group">
        <select id="pageitem" name="itemsperpage" class="form-control input-sm" onchange="javascript:setItemPerPage(this);">
            <option value="50" {% if data.itemsperpage == 50 %}selected="selected"{% endif %}>50</option>
            <option value="150" {% if data.itemsperpage == 150 %}selected="selected" {% endif %}>150</option>
            <option value="500" {% if data.itemsperpage == 500 %}selected="selected" {% endif %}>500</option>
            <option value="1000" {% if data.itemsperpage == 1000 %}selected="selected" {% endif %}>1000</option>
        </select>
        <label for="pageitem">records per page</label>
        <span> |&nbsp;Total items: {{ data.totalitems }}</span>
    </div>
    <script language="JavaScript">
        function setPage(element) {
            var page = $(element).data("page");
            $("[name='page']").val(page);
            $("#pageform").submit();
        }
        function setItemPerPage(element) {
            $("[name='page']").val(0);
            $("[name='itemsperpage']").val($(element).val());
            $('#pageform').submit();
        }
    </script>
{% endblock %}
