<div id="recycleModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="bg-danger">{% trans %}ATTENTION!{% endtrans %}</p>
                {% if data.active %}
                    <p class="bg-primary">
                        {% trans %}CONFIRM DELETE{% endtrans %}
                    </p>
                {% else %}
                    <p class="bg-primary">
                        {% trans %}CONFIRM RESTORE{% endtrans %}
                    </p>
                {% endif %}
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert" id="recycle-warning"></div>
                {% if data.active %}
                    <p>{% trans %}You are about to DELETE{% endtrans %} {{ data.recycletype }}</p>
                {% else %}
                    <p>{% trans %}You are about to RESTORE{% endtrans %} {{ data.recycletype }}</p>
                {% endif %}
                <p id="recyclename"></p>
                <p id="recycleinfo"></p>
            </div>
            <div class="modal-footer">
                <form action="{{ path(data.recyclepath) }}" method="post" id="recycleForm">
                    <input type="hidden" name="recycleid" id="recycleid" value="" />
                    <input type="hidden" name="active" id="active" value="{{ data.active }}" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <button type="button" data-type="" onClick="javascript:sendRecycle(this);" id="save-recycle" class="btn btn-primary">
                        {% if data.active %}
                            {{ "Disable"|trans  }}
                        {% else %}
                            {{ "Enable"|trans }}
                        {% endif %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

